@font-face {
    font-family: 'Opun';
    src: url('../fonts/opun-regular.eot');
    src: url('../fonts/opun-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opun-regular.woff2') format('woff2'),
         url('../fonts/opun-regular.woff') format('woff'),
         url('../fonts/opun-regular.ttf') format('truetype'),
         url('../fonts/opun-regular.svg#opun') format('svg');
    font-weight: normal;
    font-style: normal;
}