$primary: #ff5722 !default;
$secondary: #ffa62b !default;
$dark: #1a1c20 !default;
$light: #f6f5f5 !default;
$cyan: #f1f6f9 !default;
$red: #ff414d !default;
$white: #fff !default;
$blue: #0779e4 !default;

.row {
    margin: 0;
}
.page {
    height: 100vh;
    overflow: hidden;
}
.page-title {
    padding: 2.4rem 0;
    // background-color: turquoise;
}
// desktop
.page-content-lg {
    width: 100%;
    height: calc(100% - 112px);
}
.page-content-lg--preview {
    position: relative;
    height: calc(100% - 80px);
    & .content-sticker {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 40px;
        & h5 {
            line-height: 2.8;
        }
        & img {
            height: 480px;
            width: auto;
            filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.1));
        }
    }
    & .content-position {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 10px;
        margin-top: 10px;
    }
}
.page-scroll {
    padding: 25px 16px;
    height: 540px;
    overflow-y: scroll;
    border: 1px solid $cyan;
    background-color: $light;
    border-radius: 12px;
}
.card {
    border-radius: 18px;
    border: none;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
    margin-bottom: 2rem;
    transition: all .2s ease-out;
    &:hover, &:focus {
        -webkit-transform: scale(1.1) translateY(-4px);
        transform: scale(1.1) translateY(-4px);
        // transform: scale(1.1);
        filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.1));
    }
}

.btn {
    padding: .8rem .9rem .48rem;
    margin-bottom: 1rem;
    border-radius: 100%;
    border: 1px solid $light;
    background-color: transparent;
    transition: all .2s ease-out;
    &.btn-reset {
        & .icon {
            color: $dark;
            -webkit-transform: rotate(0);
            transform: rotate(0);
            transition: all .4s ease-out;
        }
        &:hover, &:focus {
            background-color: $red;
            border-color: $red;
            filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.1));
        }
        &:hover .icon, &:focus .icon {
            color: $white;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        &:active {
            background-color: $red;
        }
    }
    &.btn-content {
        & .icon {
            color: $dark;
            -webkit-transform: rotate(0);
            transform: rotate(0);
            transition: all .4s ease-out;
        }
        &:hover, &:focus {
            background-color: $secondary;
            border-color: $secondary;
            filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.1));
        }
        &:hover .icon, &:focus .icon {
            color: $white;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        &:active {
            background-color: $secondary;
        }
    }
    &.btn-sticker {
        & .icon {
            color: $dark;
            -webkit-transform: rotate(0);
            transform: rotate(0);
            transition: all .4s ease-out;
        }
        &:hover, &:focus {
            background-color: $blue;
            border-color: $blue;
            filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.1));
        }
        &:hover .icon, &:focus .icon {
            color: $white;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        &:active {
            background-color: $blue;
        }

    }
}
// mobile
.page-content-sm {
    width: 100%;
}
.page-content-sm--preview {
    position: relative;
    margin-bottom: 3rem;
    & .content-sticker--sm {
        & img {
            width: 100%;
            height: 100%;
        }
    }
    & .content-position--sm {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 5px;
    }
}
.page-content-sm--choice {
    padding: 1rem .5rem 1rem;
    background-color: $light;
    filter: drop-shadow(0 5px 25px rgba(0, 0, 0, 0.3));
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    .card {
        &:hover, &:focus {
            -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
            // transform: scale(1.1);
            filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.1));
        }
    }
}
.box-touch {
    display: block;
    cursor: pointer;
    height: .4rem;
    width: 4rem;
    border-radius: 1rem;
    background-color: lighten($color: $dark, $amount: 60) ;
    transition: all .2s ease-in-out;
    &:hover, &:focus {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    &:active {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@media (max-width: 992px) { 
    .page {
        height: auto;
        overflow: visible;
    }
 }

@media (max-width: 576px) { 
    .container-fluid {
        margin: 0;
        padding: 0;
    }
    .page-title {
        padding: 1.2rem;
    }
    .btn {
        padding: .4rem .65rem .25rem;
        &.btn-reset .icon, &.btn-content .icon, &.btn-sticker .icon {
            height: 14px;
            width: 14px;
        }
    }
 }