$font-family-base: 'Opun', sans-serif !default;

$font-size-base:              0.6rem !default; // Assumes the browser default, typically `16px`
$font-size-xl:                ($font-size-base * 1.5);
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);
$font-size-xs:                ($font-size-base * .75);

//color

$primary: #ff5722 !default;
$secondary: #ffa62b !default;
$dark: #1a1c20 !default;
$light: #f6f5f5 !default;
$cyan: #f1f6f9 !default;
$red: #ff414d !default;

body {
    width: 100%;
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $dark;
    // background-image: url('../images/bg.png');
    // background-size: cover;
    // background-position: center;
}