<div class="container" *ngIf="select" >
  <div class="row" >
    <div class="col" style="align-items: center;">
      <video  (click)="toggleVideo()" #videoPlayer
          [src]="select.path"
          autoplay
      >
      </video>
      <h4 style="text-align: center;">{{select.name}}</h4>
    </div>
  </div>
</div>
<p><br></p>
<div class="container">
  <div class="row row-cols-6">
    <div class="col-4" *ngFor="let item of sticker">
      <!-- <img [src]="item.gif"  class="image-sticker" (click)="selectSticker(item)"> -->
      <video (click)="selectSticker(item)" style="width: 80px;">
        <source [src]="item.path" type="video/mp4">
      </video>
    </div>
  </div>
</div>
<br>
<div class="container" *ngIf="select">
  <div class="row row-cols-3">
    <div class="col-md-3" style="align-items: center;">
      <button class="btn btn-danger btn-block" (click)="clearSticker()">CLEAR</button>
    </div>
  </div>
</div>
