<div class="container" *ngIf="select" >
  <div class="row" >
    <div class="col" style="align-items: center;">
      <img [src]="select.path"  class="image-sticker" (click)="selectSticker(select)">
      <h4 style="text-align: center;">{{select.name}}</h4>
    </div>
  </div>
</div>
<p><br></p>
<div class="container">
  <div class="row row-cols-3">
    <div class="col" *ngFor="let item of sticker">
      <img [src]="item.path"  class="image-sticker" (click)="selectSticker(item)">
      <!-- <button class="btn btn-info">button 1</button> -->
    </div>
  </div>
</div>
<br>
<div class="container" *ngIf="select">
  <div class="row row-cols-3">
    <div class="col" style="align-items: center;">
      <button class="btn btn-danger btn-block" (click)="clearSticker()">CLEAR</button>
    </div>
  </div>
</div>
